html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videoPlayer {
  width: 100%;
  height: auto;
}

.videoUploader,
.videoConverter,
.videoCropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.successMessage {
  color: green;
  margin-top: 10px;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}